<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.matrix.custom_widgets_part1.part1_ellipsized_text">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
